openapi: 3.0.2
info:
  title: TOOP
  version: '2.0.0'
servers:
  - url: 'https://toop.brreg.no/'
paths:
  /phase4:
    get:
      operationId: phase4Callback
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
  /query:
    get:
      description: Query for valid country codes
      operationId: getCountryCodes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /query/{countrycode}/{orgno}:
    get:
      description: Query for a given orgno
      operationId: getOrgno
      parameters:
        - name: countrycode
          in: path
          required: true
          description: The orgno country code
          schema:
            type: string
        - name: orgno
          in: path
          required: true
          description: The orgno
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    Enhet:
      type: object
      properties:
        organisasjonsnummer:
          type: string
        navn:
          type: string
        forretningsadresse:
          $ref: "#/components/schemas/Adresse"
        postadresse:
          $ref: "#/components/schemas/Adresse"
        organisasjonsform:
          $ref: "#/components/schemas/Organisasjonsform"
        registreringsdatoEnhetsregisteret:
          type: string
        registrertIMvaregisteret:
          type: boolean
        naeringskode1:
          $ref: "#/components/schemas/Naeringskode"
        naeringskode2:
          $ref: "#/components/schemas/Naeringskode"
        naeringskode3:
          $ref: "#/components/schemas/Naeringskode"
        antallAnsatte:
          type: integer
        stiftelsedato:
          type: string
        institusjonellSektorkode:
          $ref: "#/components/schemas/Sektorkode"
        registrertIForetaksregisteret:
          type: boolean
        registrertIStiftelsesregisteret:
          type: boolean
        registrertIFrivillighetsregisteret:
          type: boolean
        sisteInnsendteAarsregnskap:
          type: string
        konkurs:
          type: boolean
        underAvvikling:
          type: boolean
        underTvangsavviklingEllerTvangsopplosning:
          type: boolean
        maalform:
          type: string
        _links:
          $ref: "#/components/schemas/Self"
    Adresse:
      type: object
      properties:
        landkode:
          type: string
        land:
          type: string
        kommunenummer:
          type: string
        kommune:
          type: string
        postnummer:
          type: string
        poststed:
          type: string
        adresse:
          type: array
          items:
            type: string
    Naeringskode:
      type: object
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
    Sektorkode:
      type: object
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
    Organisasjonsformer:
      type: object
      properties:
        organisasjonsformer:
          type: array
          items:
            $ref: "#/components/schemas/Organisasjonsform"
    Organisasjonsform:
      type: object
      properties:
        kode:
          type: string
        beskrivelse:
          type: string
        _links:
          $ref: "#/components/schemas/Self"
    Self:
      type: object
      properties:
        self:
          $ref: "#/components/schemas/Href"
    Href:
      type: object
      properties:
        href:
          type: string